html {
	height: 100%;
}
body {
	height: 100%;
	background: repeating-radial-gradient(circle farthest-corner, #DB2A24 12.5%, #FFF506 37.5%, #7B8DCF 62.5%, #FFF506 87.5%, #DB2A24) fixed;
}
html {
	font-size: 16px;
}
h1, h2, h3, p {
	color: #fff;
}
h3 {
	font-size: 1.7rem;
}
.row:first-of-type {
	height: 180px;
}

.logocontainer {
	/*visibility: hidden;*/
	width: 380px;
	height: 210px;
	background: url('../images/burst.png')  no-repeat  center/100% 50%;
	position: absolute;
	top: -20px;
	left: 0;
right: 0;
margin: auto
}
.superlogo {
	position: absolute;
	top: 35%;
	left: -14%;
	color: #FFFE31;
  -webkit-text-fill-color: #FFFE31; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: black;
  paint-order: stroke;
	font-family: 'Oswald', sans-serif;
	font-size: 2.8rem;
	
}
.smashlogo {
	display: inline;
	position: relative;
	line-height: 220px;
	color: #FFD500;
  -webkit-text-fill-color: #FFD500; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #E91106;
  paint-order: stroke;
  font-family: 'Bowlby One SC';
	font-size: 3.5rem;
}
.hangmangamelogo {
/*	display: inline;*/
	position: absolute;
	top: 35%;
	right: -30%;
	font-family: 'Creepster';
	color: white;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
	font-size: 3rem;
}
.bro-image {
	height: 100%;
  width: 100%;
  max-width: 200px;
  object-fit: contain;
}
.game-container {
	width: 100%;
	margin: 0 auto;
}
.card {
	margin: 0 auto;
	padding: 15px 35px;
	float: left;
	background: none;
	border: none;
}
.card-block {
	padding: 35px;
	background-color: rgba(0,0,0,0.7);
  border-style: ridge;
  border-color: rgba(0, 0, 255, 0.6);
  border-width: 10px;
}
.card-block > div {
    margin: 0 auto !important;   /* To keep text animations correctly aligned */
}
.card1 {
	width: 40%;
}
.card2 {
	width:60%;
}
#wins, #guesses-left, #letters-guessed {
	display: block;
}
#wins .label,
#guesses-left .label,
#letters-guessed .label {
	float: left;
	width: 60%;
	text-align: left;
}
.data {
	display: inline-block;
	width: 40%;
	font-size: 1.7rem;
	color: white;
	background: none;
	text-align: right;
}

.gameboard {
	background: none;
  font-size: 1.7rem;
  	color: white;
	background: none;
}
.gameboard div {
	width: 25px;
	height: 35px;
	display: inline-block;
	position: relative;
	/*vertical-align: top;*/
	/*left: 30px;*/
	margin: 0 5px;
	padding: 0 5px;
	background:#fff;
	font-family: consolas, monospace;
	font-weight: bold;
	color: #fff;
	background: transparent;
	font-size: 2rem;
}

.user-prompt {
	display: inline-block;
	width: 100%;
	text-align: center;
}

